
    <section class="hero bg- py-16">
            <!-- <div class="w-1/2">
                <h6 class="text-lg"><em>Are You hungru?</em></h6>
                <h1 class="text-6xl font-bold">Don't wait !</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order NoW</button>
            </div>
            <div class="w-1/2">
                <img src="/img/food1.jpg" width=1000 alt="">
            </div> -->
            <img class="mx-auto flex" src="/img/food1.jpg" width=1500 alt="">
            
        </div>
    </section>
    <section class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">All Items</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-20 row-gap-16">
           
            <% foods.forEach(function(food){ %>
                <div class="mx-auto w-full md:w-64">
                    <img class="h-40 mb-4 flex mx-auto py-4" src="/img/<%=food.image%>" alt="">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg"><%=food.name%></h2>
                        <span class="size py-1 px-4 rounded-full uppercase text-xl"><%=food.size%></span>
                        <div class="flex items-center justify-around mt-6 mb-4">
                            <span class="flex font-bold text-lg">₹<%=food.price%></span>
                            <button data-food="<%= JSON.stringify(food) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
           <% })%>
        </div>
    </section>